.main{
   width: 100%;
   height: 100vh;
   background: #609ED4;  
   
}

.navbar{
   width: 100%;    
   display: flex;
   height: 72px;
   align-items: center;
   justify-content: space-between;
   padding: 0 24px;
   box-sizing: border-box;
   
   background-color: orange;
}

.contenido{
   display: flex;  
   align-items: center;
   justify-content: center;
}

.contenido-encriptar{
   
   width: 70%;
   height: 100vh;
   
   align-items: center;
   justify-content: space-between;

  
}

.contenido-resultado{
   
   width: 20%;
   height: 100vh;
   
   align-items: center;
   justify-content: space-between;
   border-radius: 24px;
   border: 1px solid #1875e8;
   box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
   background-size: 100% 100%;
   position: relative;

   padding: 0px 24px;
   box-sizing: border-box;
   
}

.campo-texto{
   width: 80%;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   border: 1px solid #1875e8;
   box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
   background-size: 100% 100%;
   position: relative;
}

.campo-resultado{
   width: 100%;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   border: 1px solid #1875e8;
   box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
   background-size: 100% 100%;
   position: relative;
}

.btnEncriptar{
   width: 240px;
   height: 48px;

   background-color: darkblue;
   color: white;
   border: none;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;    
   margin: 24px;
}

.btnDesencriptar{
   width: 240px;
   height: 48px;

   background-color: darkgray;
   color: white;
   border: none;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;      
   margin: 24px;


}

.btnGuardar{
   width: 120px;
   height: 48px;
   
   background-color: darkgray;
   color: white;
   border: none;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;      
   margin: 24px;
}

